.button {
  display: block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 auto 15px; /* Изменили значение margin */
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 50px;
  width: 80%;
  line-height: 46px;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  color: white;
  margin: 40px auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;  
}


.button:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}